<%- include('./templates/header')%>

<link rel="stylesheet" href="/styles/dash_style.css" />
<title>Dashboard</title>
</head>
<body>
  <%- include('./templates/navigation')%>
  <main>
    <% if (locals.message) {%>
      <%= locals.message %>
      <% } %>
  </main>
<%- include('./templates/scripts')%>

<%- include('./templates/footer')%>
