<%- include('./templates/header')%> <%- include('./templates/navigation')%>
<main>
  <form action="/users/guest-password" , method="POST" id="guest-password">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Guest username</label>
      <input
        type="text"
        name="username"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Username"
        autocomplete="off"
      />
      <div id="emailHelp" class="form-text">Should contain 8 digit number</div>
    </div>
    <% if(locals.message){ %> <% if(locals.message.includes("FAILED!")) {%>
    <div class="alert alert-danger" role="alert"><%= locals.message %></div>
    <% } else {%>
    <div class="alert alert-success" role="alert"><%= locals.message %></div>
    <% } %> <% } %>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </form>
  <table class="table table-striped">
    <tr>
      <th>USER</th>
      <th>TIME</th>
      <th>USERNAME</th>
      <th>FOLIO ID</th>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
    </tr>
    <% if (locals.passLogs) { %> <% locals.passLogs.forEach(elements => { %>
    <tr>
      <% elements.forEach(element => { %>
      <td><%= element %></td>
      <% }) %>
    </tr>
    <% }) %> <% } %>
  </table>
</main>

<%- include('./templates/footer')%>
